@charset "UTF-8";
/*lideng*/

//公共颜色
$color-green:#8cc31f;
$color-blue:#4e71fe;
$color-gray:#b6b6b6;
$color-white:#fff;
$color-paleWhite:#f4f4f4;
$color-orange:#ffa300;

//$borderBlue:solid 1px $color-blue;
//$borderBorB:solid 1px $color-paleWhite;

//背景路径
$bg-path: "../img";
//.card{
//    background: url("#{$bg-path}/card-bg.png" center center);
//}

//嵌入
@mixin borderRadius4($conor: 4px){ // 定义 mixin 并设置默认值 5px
    -webkit-border-radius: $conor;
    -moz-border-radius: $conor;
    border-radius: $conor;
}
@mixin borderBlue(){ // 定义 mixin 并设置默认值 5px
   border:solid 1px $color-blue;
}
@mixin borderBorBot(){ // 定义 mixin 并设置默认值 5px
    border-bottom:solid 1px $color-paleWhite;
}
@mixin marginTop15{
    margin-top: .15rem;
}
@mixin marginTop20{
    margin-top: .2rem;
}
@mixin btn{
    border: none;
    background: none;
    outline: none;
}
@mixin  btn-blue{
    @include  btn();
    background-color: $color-blue;
    color: $white;
    @include borderRadius4();
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:before{
    box-sizing: border-box;
}
*:after{
    box-sizing: border-box;
}
html, body {
    position: relative;
    font-family:'微软雅黑' ,PingFangSC-Regular,sans-serif,Helvetica Neue, Helvetica, Arial ;
    line-height: 1.5;
    color: #323232;
}
body {
    font-size: .14rem;
    max-width: 3.75rem;
    margin: 0 auto;
    display: block;
}

body *{
    box-sizing: border-box;
}
li{
    list-style: none;
}

a{
    color: #323232;
    cursor: pointer;
    text-decoration: none;
}
img{
    display: inline-block;
    max-width: 100%;
}

/*去除a点击之后的背景*/
a:active{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*清楚浮动*/
.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}

input,button{
    border: none;
    outline: none;
}

/*省略号*/
.ellipsis{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}
/*============ 初始样式 到此结束 ============*/

/*============ 公共部分  开始 ============*/


/*公共头部*/
.header-box{
    padding-bottom: .5rem;
}
.header-nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1111;
}
.header-top{
    background-color: $color-blue; /* 不支持线性的时候显示 */
    background-image: linear-gradient(to right, #8C16FF , #3497FD);
    position: relative;
    color: $color-white;
    height: .5rem;
    line-height: .5rem;
    text-align: center;
    font-size: 0.16rem;
    font-weight: bold;
    .iconfont{
        height: .5rem;
        line-height: .5rem;
        position: absolute;
        left: 0;
        font-size: .2rem;
    }
}
.goBack{
    /*border: solid 1px red;*/
    height: 20px;
    padding:10px;
    position: absolute;
    top:  12px;
    left: 0;
}



//公共底部
.footer-box{
    padding-top: .6rem;
}
.footer-nav{
    width: 100%;
    height: .6rem;
    padding: .06rem 0;
    box-sizing: border-box;
    border-top: solid 1px $color-gray;
    background-color: $color-white;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 111;
}
.footer-nav {
    display: flex;
}
.footer-item{
    flex: 1;
    a{
        display: block;
    }
    .iconfont{
        font-size: .2rem;
        height: .3rem;
        margin: 0 auto;
    }
}
.footer-item img{
    height: .18rem;
}
.footer-item .text{
    font-size: .14rem;
}
.footer-active{
    color: $color-blue;
}
.footer-nav .router-link-exact-active {
    color:  $color-blue;
    background-color:  $color-white;
}

//一左一右 环绕布局
.layout-surround{
    display: flex;
    justify-content: space-between;
    margin: .1rem 0;
    align-items:center;
}
.noData{
    text-align: center;
    color: $color-gray;
    width: 100%;
    @include  marginTop15();
}
.btn-small{
    font-size: 12px;
}
/*============ 公共部分  结束 ============*/
